body{
    font-family:'Open Sans', sans-serif;
}
.banner{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    padding: 0px 240px  0px 240px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}

  
.heading{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

  
}
.btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}
.flower{
    text-align: center;
    background: #FFF;
    max-width: 1920px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;

}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.photo{
    
    padding-left: 240px;
    padding-right: 240px;
    justify-content: space-between;
   gap: 24px;
   display: flex;
   color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; 
    text-decoration-line: underline;
  

}
.pic{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-right: 10px;
    color: #272727;
    text-align: center;


 
 
}
.pic2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-right: 10px;
}
.pic3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.pic4{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    width: 1440px;
    height: 320px;
    margin: 150px 240px 150px 240px;
    padding: 86px 320px 100px 332px;

}
.pic5{
    width: 88px;
    height: 88px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding: 86px 320px px 332px;

}
.pic6{
    width: 88px;
    height: 88px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;

}
.pic7{
    width: 88px;
    height: 88px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;

}
.hot{
    width: 1922px;
    height: 620px;
    background: rgba(229, 84, 115, 0.05);
    padding: 150px 240px  0px 240px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.of{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;

}

